################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj
/tests/obj/Debug/net9.0
/tests/obj
